<% if @album.persisted? %>
  <% action = album_url(@album) %>
  <% submit_val = "Edit Album" %>
<% else %>
  <% action = band_albums_url %>
  <% submit_val = "Add Album" %>
<% end %>


<form action="<%= action %>" method="post">
  <% if @album.persisted?%>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">


  <label for="album_band"><h2>Select a Band:</h2></label>

  <select name="album[band_id]" id="album_band">
    <% @bands.each do |band| %>
      <option value="<%= band.id %>"
        <%= selected="selected" if band.id == @band.id%>
        <% if @band.name == band.name %>
         selected
        <% end %>>
      <%= band.name %>
      </option>
    <% end %>
  </select>

  <br>

  <label for="album_title"><h2>Album Title</h2>
  <input
    type="text"
    name="album[title]"
    id="album_title"
    value="<%= @album.title %>">

  <br>

  <p><h2>Pick an Album Setting:</p></h2>
  <label for="album_setting_live">Live Album</label>
  <input
    type="radio"
    name="album[setting]"
    id="album_setting"
    value="Live"
    <% if @album.setting == "Live" %>
      checked="true"
    <% end %>>

  <br>

  <label for="album_setting_studio">Studio Album</label>
  <input type="radio"
    name="album[setting]"
    id="album_setting_studio"
    <% if @album.setting == "Studio" %>
    checked="true"
    <% end %>
    value="Studio">


  <br>
  <input type="submit" value="<%= submit_val %>">

</form>