<h1>Album <%= @album.title %></h1>

<p>Band: <a href="<%= band_url(@album.band) %>"><%= @album.band.name %></a></p>

<h2>Tracks:</h2>
<ul>
  <% @album.recordings.each do |track| %>
    <li><a href="<%= track_url(track) %>"><%= track.title %></a></li>
  <% end %>
</ul>

<h2>Setting</h2>
<strong><%= @album.setting %></strong>

<br><br>


<a href="<%= new_band_track_url(@album.band) %>">Add a Track to this Band</a>

<br><br>

<a href="<%= edit_album_path(@album) %>">Edit Album</a>

<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="submit" value="Delete this Album">

</form>
