<% if @track.persisted? %>
    <% action = track_url(@track)%>
    <% submit_val = "Edit Track" %>
  <% else %>
    <% action = band_tracks_url %>
    <% submit_val = "Add Track" %>
<% end %>

<form action="<%= action %>" method="post">
  <% if @track.persisted?%>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <br><br>

  <label for="track_album"></h2>Pick an Album</h2></label>
  <select name="track[album_id]" id="track_album">

    <% @band.albums.each do |album| %>

      <option
        name="track[album_id]"
        value="<%= album.id %>"
        <% if @album && album.title == @album.title %>
         selected
        <% end %>>
        <%= album.title %>
      </option>

    <% end %>
  </select>

  <br><br>

  <label for="track_title"><h2>Title</h2></label>
  <input
    type="text"
    name="track[title]"
    id="track_title"
    value="<%=@track.title %>">

  <br><br>

  <label for="track_lyrics"><h2>Lyrics</h2></label>
  <textarea
    rows="10"
    cols="30"
    name="track[lyrics]"
    id="track_lyrics"><%= @track.lyrics %></textarea>

  <br><br>

  <p><h2>Album Type</h2></p>

  <label for="track_status_bonus">Bonus</label>
  <input
    type="radio"
    name="track[status]"
    id="track_status_bonus"
    <% if @track.status == "Bonus" %>
      checked="true"
    <% end %>
    value="Bonus">

  <label for="track_status_regular">Regular</label>
  <input type="radio"
  <% if @track.status == "Regular" %>
    checked="true"
  <% end %>

    name="track[status]"
    id="track_status_regular"
    value="Regular">


  <br><br>

  <input type="submit" value="<%= submit_val %>">

</form>