<h1>Track Page for <%= @track.title %> </h1>

<p>Band:  <a href="<%= band_url(@track.band) %>"><%= @track.band.name %></p></a>

<p>Album: <a href="<%= album_url(@track.album) %>">
            <%= @track.album.title %></p>
          </a>

<p>Status: <%= @track.status %></p>

<p>Lyrics: <%= @track.lyrics %></p>

<h2>Notes</h2>
<% if @track.notes.any? %>
  <ul>
    <% @track.notes.each do |note| %>
    <li><%= render note %></li>
    <%= render "helpers/destroynote", note: note %>
    <% end %>
  </ul>
<% else %>
  <p>(None)</p>
<% end %>

<form action="<%= track_notes_url(@track) %>" method="POST">
  <%= render "helpers/auth" %>

  <label>Note:
    <textarea name="note[body]"></textarea>
  </label>

  <input type="submit" value="Add Note">
</form>

<a href="<%= edit_track_url(@track) %>">Edit this Track</a>
<br><br>

<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="delete">

 <%= render "helpers/auth" %>

  <input type="submit" value="Delete This Track">

</form>