<h1>Sign in!</h1>

<form action="<%= session_url %>" method="post">

  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for "user_email">Email</label>
  <input type="text" name="user[email]" id="user_email">

  <br><br>

  <label for "user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">

  <br><br>

  <input type="submit" value="Sign in!">

</form>