<!DOCTYPE html>
<html>
  <head>
    <title>LabelInventory</title>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <% if current_user %>
        Welcome <%= current_user.email %>!
        <br>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

          <input type="submit" value="Log out!">

        </form>

      <% else %>
        <a href="<%= new_session_url%>">Sign in!</a>

        <a href="<%= new_user_url%>">Sign up!</a>

      <% end %>

      <br><br>
      <strong><%= flash[:errors]%></strong>
    </header>

    <%= yield %>

    <br>
    <br>
    <footer>
      <a href="<%= bands_url%>">Return to Bands Index</a>
    </footer>

  </body>
</html>
