<% if @band.persisted? %>
  <% action = band_url(@band) %>
  <% button_name = "Edit Band" %>
<% else %>
  <% action = bands_url %>
  <% button_name = "Create Band" %>
<% end %>



<form action="<%= action %>" method="post">
  <% if @band.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="band_name"><h2>Band Name</h2></label>
  <input type="text" name="band[name]" id="band_name" value="<%= @band.name %>">

  <br><br>
  <input type="submit" value="<%= button_name %>">

</form>