<h1><%= @band.name%></h1>


<h2>Albums</h2>

<% @band.albums.each do |album| %>
  <h3><a href="<%= album_url(album) %>"><%= album.title %></h3></a>
  <p>Tracks:</p>
  <ul>
    <% album.recordings.each do |recording| %>
      <li>
        <a href="<%= track_url(recording) %>"><%= recording.title%></a>
      </li>
    <% end %>
  </ul>

<% end %>

<br>

<a href="<%= new_band_album_url(@band) %>">Add an Album</a>

<br><br>

<a href="<%= new_band_track_url(@band) %>">Add a Track</a>

<br><br>

<a href="<%= edit_band_url(@band) %>">Edit Band</a>
<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="submit" value="Delete this Band">

</form>
