<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>

    <h1>Thanks for Signing Up With Music Inventory!</h1>
    <p>Your username is <%= @user.email %>!</p>

    <p>Please click the below link to confirm you're not a robot!</p>

    <%= link_to "Active Account!", activate_users_url(activation_token=@user.activation_token) %>

    <p>Thanks!</p>
  </body>
</html>